<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">
    <title>Error</title>
</head>
<body>

    <div class="jumbotron">
        <h1>Error processing your request.</h1>
        Click <a href="/home">here</a> to head back home, if you are logged in.
        Otherwise you can <a href="/login">log</a> back in.
    </div>
    
</body>
</html>